.main-alphasort {
  width: auto;
  height: 5%;
  padding: 2rem 3.5% 0 3.5%;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  .text-alphasort {
    padding: 2%;
  }
  select.alphasort {
    cursor: pointer;
    width: auto;
    color: white;
    font-size: 1rem;
    padding: 2%;
  }
}
.alphasort:focus {
  background-color: #151515;
}

//////////////  Responisve limit  /////////////////

@media only screen and (max-width: 860px) {
  .main-alphasort {
    padding: 1rem 7% 1.5% 7%;
    .text-alphasort {
      padding-right: 1rem;
    }
    select.alphasort {
      padding: 0rem 1rem;
    }
  }
}
//////////////  Responisve limit  /////////////////

@media only screen and (max-width: 390px) and (min-width: 280px) {
  .main-alphasort {
    padding: 1rem 10% 1.5% 10%;
    .text-alphasort {
      padding-right: 1rem;
    }
  }
}

//////////////  Responisve limit  /////////////////

@media only screen and (max-width: 280px) {
  .main-alphasort {
    display: none;
  }
}
