.main-info-displayer {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .top-info-displayer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 70vh;
    border-bottom: 0.15rem solid #ed1d24;
    img {
      width: 100%;
      align-items: center;
    }
  }
  .bottom-info-displayer {
    height: auto;
    width: 100%;
    background-color: white;
    color: #151515;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5% 0.5% 3% 1%;
    .fa-chevron-circle-left {
      align-self: flex-start;
      padding: 1rem 0 0 1rem;
      font-size: 1.5rem;
      color: #ed1d24;
    }
    .title-container {
      color: black;
      .title-containe-text {
        letter-spacing: 0.1rem;
        padding: 0.5rem;
      }
    }
    .description-container {
      width: 80%;
      height: auto;
      padding: 3% 1rem 5% 1rem;
      .description-container-text {
        text-align: justify;
        letter-spacing: 0.05rem;
      }
    }
    .button-info-displayer {
      height: 2.5rem;
      padding: 0.5rem 1rem;
      margin: rem 0rem 1rem 0rem;
      font-size: 1rem;
      background-color: #ed1d24;
    }
  }
}
//////////////  Responisve limit  /////////////////

// @media only screen and (max-width: 825px) {
// }

//////////////  Responisve limit  /////////////////

@media only screen and (max-width: 490px) and (min-width: 280px) {
  .main-info-displayer {
    .top-info-displayer {
      img {
        width: auto;
        height: 110%;
      }
    }
    .bottom-info-displayer {
      display: flex;
      justify-content: center;
      .title-container {
        font-size: 1rem;
        width: 70%;
      }
    }
  }
}

//////////////  Responisve limit  /////////////////

@media only screen and (max-width: 280px) {
  .main-info-displayer {
    display: none;
  }
}
