@import "./../../../variables.scss";

.main-characters {
  background-color: $marvel-dark-gray;
}
.title-character {
  height: 10%;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
}
