@import "./../../../variables.scss";

.main-footer {
  height: 10%;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: $marvel-dark-gray;
  bottom: 0rem;
  font-size: 0.8rem;
  .ul-footer {
    display: flex;
    justify-content: center;
    list-style: none;
    .li-footer {
      padding: 0.5rem;
    }
  }
  img {
    padding: 1rem;
    height: auto;
    width: 10rem;
  }
}

//////////////  Responisve limit  /////////////////

@media only screen and (max-width: 860px) {
  .main-footer {
    .ul-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    img {
      padding: 1rem;
      height: auto;
      width: 10rem;
    }
  }
}

//////////////  Responisve limit  /////////////////

@media only screen and (max-width: 390px) and (min-width: 280px) {
  .main-footer {
    .ul-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    img {
      padding: 1rem;
      height: auto;
      width: 8rem;
    }
  }
}

//////////////  Responisve limit  /////////////////

@media only screen and (max-width: 280px) {
  .main-footer {
    display: none;
  }
}
