.main-footer {
  height: 10%;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #151515;
  bottom: 0rem;
  font-size: 0.8rem;
  .ul-footer {
    display: flex;
    justify-content: center;
    list-style: none;
    li {
      padding: 0.5rem;
    }
  }
  img {
    padding: 1rem;
    width: 10rem;
  }
}

//////////////  Responisve limit  /////////////////

@media only screen and (max-width: 825px) {
  .main-header {
    .menu-container {
      width: 10%;
      .menu-list-container {
        .menu-list li {
          padding: 2rem 2rem;
        }
      }
    }
    .logo img {
      height: 80%;
    }
  }
}

//////////////  Responisve limit  /////////////////

@media only screen and (max-width: 390px) and (min-width: 280px) {
  .main-header {
    .menu-container {
      width: 20%;
      .menu-list-container {
        width: 520%;
        .menu-list li {
          padding: 2rem 2rem;
        }
      }
    }
    .logo img {
      height: 70%;
    }
  }
}

//////////////  Responisve limit  /////////////////

@media only screen and (max-width: 280px) {
  .main-header {
    display: none;
  }
}
