.main-banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70vh;
  border-bottom: 0.15rem solid #ed1d24;
  .gradient-container {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0rem;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    border: none;
    background: linear-gradient(180deg, #151515, #ed1d24);
    opacity: 0.85;
  }
  .img-banner {
    z-index: 100;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-self: center;
    border: none;
    img {
      width: 100%;
      height: auto;
      align-items: center;
    }
  }
  .title-banner {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    .title-dos {
      font-size: 2.5rem;
      font-weight: 900;
      letter-spacing: 0.1rem;
    }
    .title-cuatro {
      font-weight: 300;
    }
  }
}

//////////////  Responisve limit  /////////////////

@media only screen and (max-width: 825px) {
  .main-banner {
    .title-banner {
      .title-dos {
        font-size: 2rem;
        font-weight: 700;
      }
      .title-cuatro {
        font-size: 0.8rem;
      }
    }
  }
}
//////////////  Responisve limit  /////////////////

@media only screen and (max-width: 490px) and (min-width: 280px) {
  .main-banner {
    .title-banner {
      width: 90%;
      .title-dos {
        font-size: 2rem;
        font-weight: 700;
      }
      .title-cuatro {
        font-size: 0.7rem;
      }
    }
    .img-banner {
      img {
        height: 100%;
        width: auto;
        align-items: center;
      }
    }
  }
}

//////////////  Responisve limit  /////////////////

@media only screen and (max-width: 280px) {
  .main-banner {
    display: none;
  }
}
