.main-displayer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 80vh;
  padding: 0 2.5% 2.5% 2.5%;
  .title-displayer {
    height: 5%;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    display: flex;
    padding-left: 1%;
    justify-content: flex-start;
  }
  .body-displayer {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
}

//////////////  Responisve limit  /////////////////

@media only screen and (max-width: 860px) {
  .main-displayer {
    height: auto;
    .title-displayer {
      width: 95%;
      font-size: 0.9rem;
      padding: 0% 1.5% 2.5% 1.5%;
      margin-top: 2rem;
    }
  }
}
//////////////  Responisve limit  /////////////////

@media only screen and (max-width: 390px) and (min-width: 280px) {
  .main-displayer {
    height: auto;
    .title-displayer {
      width: 85%;
      font-size: 0.9rem;
      padding: 0% 1.5% 2.5% 1.5%;
      margin-top: 2rem;
    }
  }
}

//////////////  Responisve limit  /////////////////

@media only screen and (max-width: 280px) {
  .main-displayer {
    display: none;
  }
}
